*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    float: none;
}
body{
    background-image: url("wangyebeijing3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width: 1280px;
    margin: 0px auto;
}
/*页面导航*/
#nav{
    height: 100px;
    width: 100%;
    background-image: url("beijing513.jpg") ;
}
.header_left{
    float: left;
    margin: 12px 10px 0px;
}
.biaoti1{
    font-size: 40px;
    font-weight: bold;
}
.biaoti2{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.header_right{
padding-right: -2px;
}
.right_ul{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 22px;
}
.nav_a{
    font-size: 28px;
    border-right: 1px solid #b2b2b2;
    padding: 0px 15px;
}
.nav_a:hover{
    font-size: 28px;
    border-right: 1px solid #b2b2b2;
    padding: 0px 15px;
    color: cornflowerblue;
}
/*留言板*/
#liuyanban{
    height: 1000px;
}