*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    float: none;
}
body{
    background-image: url("wangyebeijing3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width: 1280px;
    margin: 0px auto;
    border-color: white;
}



/*页面导航*/
#nav{
    height: 100px;
    width: 100%;
    background-image: url("beijing513.jpg") ;
}
.header_left{
    float: left;
    margin: 12px 10px 0px;
}
.biaoti1{
    font-size: 40px;
    font-weight: bold;
}
.biaoti2{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.right_ul{
    padding: 26px;
}
.nav_a{
    font-size: 28px;
    border-right: 1px solid #b2b2b2;
    padding: 0px 15px;
}
.nav_a:hover{
    font-size: 28px;
    border-right: 1px solid #b2b2b2;
    padding: 0px 15px;
    color: cornflowerblue;
}
/*小知识*/
#xiaozhishi{
    height: 2400px;
}
.xiaozhishi_ul,.xiaozhishi_li{
    list-style-type: inherit;
}
.xiaozhishi_top{
    padding-top: 50px;
}
.xinlijiankang{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 30px 30px;
    border: 3px solid darkgray;
    background: rgba(245, 223, 124, 0.295);
}
.jiankangbiaozhun{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 30px 30px;
    border: 3px solid darkgray;
    background: rgba(245, 223, 124, 0.295);
    line-height: 30px;
}
.shaonianbiaozhun{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 30px 30px;
    border: 3px solid darkgray;
    background: rgba(245, 223, 124, 0.295);
    line-height: 30px;
}
.bujiankangleixing{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px 30px 30px;
    border: 3px solid darkgray;
    background: rgba(245, 223, 124, 0.295);
    line-height: 30px;
}
/*底部*/
#footer{
    height: 40px;
    margin-bottom: -20px;
    }
    .footer_wenzi{
        line-height: 40px;
        text-align: center;
    }
    .footer_wenzi_a{
        padding: 10px 10px 20px;
    }
    .footer_wenzi_a:hover{
        padding: 10px 10px 20px;
        color: khaki;
    }